* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

html {
	font-size: 16px;
	overflow-x: hidden;
	max-width: 100vw;
	-webkit-text-size-adjust: 100%;
}

/* Text */
h1 {
	font-size: 4.236rem;
	font-weight: 500;
	font-family: "Prompt", sans-serif;
}

h2 {
	font-size: 2.618rem;
	font-weight: 400;
	font-family: "Roboto", sans-serif;
	margin-top: 50px;
	width: 100%;
}

h3 {
	font-size: 1.618rem;
	font-weight: 300;
	font-family: "Roboto", sans-serif;
	margin-bottom: 10px;
}

h4 {
	line-height: 1.3;
	font-size: 1rem;
	font-weight: 300;
	font-family: "Roboto", sans-serif;
	color: rgb(0, 0, 0);
}

h5 {
	line-height: 1.3;
	font-size: 1.5rem;
	font-weight: 500;
	font-family: "Roboto", sans-serif;
	color: rgb(0, 0, 0);
	margin: 0px;
	margin-top: 20px;
}

p {
	font-size: 1rem;
	font-weight: 300;
	font-family: "Roboto", sans-serif;
	color: black;
	line-height: 1.5;
}

a {
	font-size: 1rem;
}

// .project-title {
// 	margin: 0px 0px;
// 	font-weight: 700;
// }

.informational {
	line-height: 1.5;
	margin: 15px 0px;
	margin-bottom: 0px;
}

.bio-text {
	margin-top: 30px;
	line-height: 1.5;
}

/* Sections */

main {
	padding: 0vh 5vw 5vw;
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100vw;
	// max-width: 100vw;
	margin: 0 auto;
	max-width: 1200px;
}

section {
	display: block;
	width: 100%;
}

body {
	max-width: 100vw;
	overflow-x: hidden;
}

.experiance-item-title {
	// mobile style
	@media only all and (max-width: 819px) {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		width: 100%;
	}

	// desktop style
	@media only all and (min-width: 820px) {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		width: 100%;
	}
}

@media only all and (min-width: 820px) {
	h5 {
		margin-top: 0px;
	}
}
