@use 'base';

nav {
	@include base.flexcolumn;
	position: fixed;
	width: 100vw;
	min-height: 50px;
	top: 0px;
	right: 0px;
	z-index: 1000;
	color: white;
	background-color: rgba(0, 0, 0, 1);
	padding: 10px 20px;

	.mobile-menu-container {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		align-items: center;
	}

	.mobile-menu {
		position: absolute;
		// display: block;
		cursor: pointer;
		padding: 0px;
		right: 10px;
		top: 10px;
		z-index: 1000;
	}

	ul {
		list-style-type: none;
		text-align: right;
		position: relative;
	}

	.navbar-contact {
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: flex-end;
		align-items: center;
		margin-bottom: 20px;
		width: 100%;

		li {
			width: fit-content;
			margin-left: 10px;
			display: inline-block;
		}

		img {
			width: 60px;

			-webkit-filter: brightness(100%) invert(100%);
			filter: brightness(100%) invert(100%);
		}
	}

	.navbar-links {
		padding: 20px 0px;

		a:hover {
			color: white;
		}

		a {
			font-weight: light;
			font-family: "Roboto", sans-serif;
			line-height: 1.5;
			color: white;
			text-decoration: none;
			margin: 10px 0;
			font-size: 4rem;
		}
	}
}

// Media Queries
@media only all and (max-width: 819px) {
	nav {
		// padding: 50px;
	}
	.mobile-menu {
		display: block;
	}

	.mobile-menu > li {
		display: block;
	}

	.navbar-contact {
		width: 100%;

		display: flex;
		justify-content: flex-end;

		img {
			margin-left: 50px;
		}
	}

	.navbar-links {
		width: 100%;
	}

	.navbar-links a:hover {
		font-weight: 600;
	}

	.cover {
		height: 100vh;
		position: fixed;
		top: 0px;
		left: 0px;
		right: 0px;
		bottom: 0px;
		padding: 0px 50px;
	}
}

@media only all and (min-width: 820px) {
	nav {
		flex-direction: row;
		justify-content: space-between;
		position: relative;
		height: 70px;
		padding: 10px;

		.mobile-menu {
			display: none;
		}

		.navbar-contact {
			position: absolute;
			left: 0px;
			width: 200px;
		}

		.navbar-contact,
		.navbar-links {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			// width: fit-content;
			margin: 0;
			padding: 0;

			a {
				font-weight: 400;
				font-family: "Roboto", sans-serif;
				line-height: 1.5;
				color: rgb(194, 194, 194);
				text-decoration: none;
				margin: 10px;
				font-size: 1rem;
			}

			img {
				width: 30px;
			}
		}
	}
}

// Hamburgerstack Animation
#bar1,
#bar2,
#bar3 {
	width: 35px;
	height: 2px;
	background-color: white;
	margin: 6px 0;
	transition: 0.2s;
}

.change#bar1 {
	-webkit-transform: rotate(-45deg) translate(-12px, 11px);
	transform: rotate(-45deg) translate(-12px, 11px);
}

.change#bar2 {
	opacity: 0;
}

.change#bar3 {
	-webkit-transform: rotate(45deg) translate(0px, 0px);
	transform: rotate(45deg) translate(0px, 0px);
}

.hidden {
	display: none;
}
